/* SITE STRUCTURE */

/* SITE HEADER */

.site-header{
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;

    .site-id {
        display: flex;
        align-items: center;
    }

    .logomark {
        margin-right: 1em;
    }

    a {
        color: white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.05em;
        font-family: $type-heading;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0;
    }

} 

/* SITE FOOTER */

.site-footer {
    background: $accent-color-yellow;
    display: flex;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
    }
    
}

/* SITE-NAV */

.site-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
    a {
        display: inline-block;
        padding: .75em;
        line-height: 1;
    }
}

section {
    padding: 4em 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* HERO SECTION */

.hero {
    background: $accent-color-blue;
    text-align: center;
    padding: 8em, 0, 4em, 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
    margin-top: 2em;
    margin-bottom: .5em;
    color: $type-heading;
    font-size: 3.5em;
    }
    p {
        margin-bottom: 1em;
        font-size: 1.75em;
    }
    .button {
        margin-bottom: 4em;
    }
}